{% extends '../base.html' %}
{% block content %}
<div class="card-box mb-30">
	<div class="pd-20">
		<div class="row">
			<div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#HED" aria-expanded="false" aria-controls="collapseExample">
			    H.E.D
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#HEN" aria-expanded="false" aria-controls="collapseExample">
			    H.E.N
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#HEDD" aria-expanded="false" aria-controls="collapseExample">
			    H.E.D.D
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#HEDN" aria-expanded="false" aria-controls="collapseExample">
			    H.E.D.N
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Vac. Comunes
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Vac. pagas
			  </button>
		  </div>
		</div><br>
		<div class="row">
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    bono de servicio
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    bono de servicio
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    bono de servicio
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    bono de servicio
			  </button>
		  </div>

		</div>
	</div>
</div>
<br>




{% include '../datos payroll/hour_extra.html' %}





<br><br>
{% endblock %}